.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-1 {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    /* text-align: center; */
  }
  
  .modal-content-1 input, .modal-content-1 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
  }
  
  .modal-actions button {
    background-color: #1d4ed8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-actions button:hover {
    background-color: #2563eb;
  }
  